{% extends "./profile_base.html" %}
{% load static %}

{% block title %}Order History - Profile{% endblock %}

{% block profile_extra_style %}
    <link rel="stylesheet" href="{% static 'css/userprofile/profile_orders.css' %}">
{% endblock profile_extra_style %}

{% block profile_content %}

<div class="profile-card">
    
    <div class="profile-card-header">
        <h2>Recent Orders</h2>
    </div>
    <div class="profile-card-body">
        <div class="order-list">
            {% for order in orders %}
                <a href="{% url "order_details" order.order_id %}" class="order-item">
                    <div class="order-item-details">
                        <span class="order-item-id">Order #{{ order.order_id }}
                            <span class="badge bg-{{ order.get_status_color}}">
                                {{ order.get_order_status_display }}
                            </span>
                             {% comment %} NOTE: Because we defined 'choices=ORDER_STATUS_CHOICES', Django  {% endcomment %}
                             {% comment %} automatically creates a helper method: .get_order_status_display(). {% endcomment %}
                             {% comment %} It allows us to retrieve the human-readable label (e.g., "Out for delivery") {% endcomment %}
                             {% comment %} instead of the database key (e.g., "out_for_delivery"). {% endcomment %}
                        </span> 
                        
                        <p class="order-item-meta">
                            {{ order.created_at|date:"M d, Y" }} • ₹{{ order.final_price }}
                        </p>
                        
                    </div>
                    <i class='bx bx-chevron-right'></i>
                </a>
            
            {% empty %}
                <div style="padding: 20px; text-align: center; color: #666;">
                    <p>No orders placed yet.</p>
                </div>
            {% endfor %} 
        </div>

    </div>

</div>
{% endblock profile_content %}