{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}Home{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/products/home.css' %}">
{% endblock extra_styles %}

{% block content %}

<section class="hero-section" style="background-image: url('{% static 'images/fashion.jpg' %}');">
    <div class="hero-content">
        <h1>Effortless Style, Arrived.</h1>
        <p>Discover our new Spring collection.</p>
    </div>
</section>

<section class="home-section">
    <h2 class="section-title">Shop By Category</h2>
    <div class="category-grid">
        {% for category_data in categories_for_template %}
        <a href="{% url 'products_page_user' %}?category={{ category_data.id }}" class="category-card">
            <span>{{ category_data.name }}</span>
            <img src="{{ category_data.image.url}}" alt="{{ category_data.alt_text }}">
        </a>
        {% endfor %}
    </div>
</section>

{% if featured_products %}
<section class="home-section">
    <h2 class="section-title">Featured Products</h2>
    <div class="product-grid">
        {% for featured_product in featured_products %}
            <div class="product-card">
                <div class="product-image-container">
                    {% if featured_product.slug %}
                    <a href="{% url 'Product_card_view' featured_product.slug %}">
                        {% if featured_product.image %}
                        <img src="{{ featured_product.image.url }}" alt="{{ featured_product.name }}">
                        {% else %}
                        <div class="image-placeholder"></div>
                        {% endif %}
                    </a>
                    <div class="product-card-icons">
                        <button aria-label="Add to wishlist"><i class='bx bx-heart'></i></button>
                        <button aria-label="Quick view"><i class='bx bx-search'></i></button>
                    </div>
                    {% endif %}
                </div>
                <div class="product-info">
                    <h3 class="product-name"><a href="#">{{ featured_product.name }}</a></h3>
                    <p class="product-price">{{ featured_product.offer_price }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}

 {% if most_demanded %}
<section class="home-section">
    <h2 class="section-title">Most Demanded Accessories</h2>
    <div class="product-grid">
        {% for most_demand in most_demanded %}
        <div class="product-card">
            <div class="product-image-container">
                <a href="{% url 'Product_card_view' most_demand.variant__product__slug %}">
                    {% if most_demand.image %}
                    <img src="{% cloudinary_url most_demand.image %}" alt="{{ most_demand.name }}">
                    {% else %}
                    <div class="image-placeholder"></div>
                    {% endif %}
                </a>
                <div class="product-card-icons">
                    <button aria-label="Add to wishlist"><i class='bx bx-heart'></i></button>
                    <button aria-label="Quick view"><i class='bx bx-search'></i></button>
                </div>
            </div>
            <div class="product-info">
                <h3 class="product-name"><a href="{% url 'Product_card_view' most_demand.variant__product__slug %}">{{ most_demand.name }}</a></h3>
                <p class="product-price">{{ most_demand.offer_price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %} 
{% endblock content %}